


$brand-colors: (
	facebook: #3b5998,
	twitter: #1da1f2,
	email: #ffbc00,
	linkedin: #0077b5,
);

* {
	box-sizing: unset !important;		
}

.post-social {
	display: inline-block;
	.shareText {
		color: white;
		font-size: 26px;
		padding-right: 10px;
		font-family: "Above", Verdana, Tahoma;
	}
	.button {
		display: inline-block;
		margin: 5px;
		color: white;
		border: 1px solid white;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		padding: 10px;
		// transition: all 300ms ease-out;
		@each $class, $color in $brand-colors {
			&.#{$class} {
				&:hover {
					background-color: $color;
				}
			}
		}
	}
}
