@font-face {
  font-family: "Above";
  src: url(../fonts/ABOVE.ttf) format("truetype");
  src: local('Above'), url(../fonts/ABOVE.ttf) format('truetype');

}

body, html {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #1b1b1b;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;

}


h1, h2, h3 {
  font-family: "Above", Verdana, Tahoma;
  color: white;
}

h1 span, h2 span, h3 span {
  font-weight: 100;
  font-size: .95em;
  font-family: 'Open Sans', Verdana, Tahoma;
}
