#head {
    background: red;
    z-index: 3000;
}

@keyframes flicker-out-anim {
    0%, 69.9% {	color: white; opacity: 1;	}
    70%, 70.9% { color: transparent; opacity: 1; }
    71%, 87.9% { color: white; opacity: 1; }
    88%, 88.9% { color: transparent; opacity: 1; }
    89%, 94.9% { color: white; opacity: 1; }
    95%, 100% { color: transparent; opacity: 0; } 
}

@keyframes flicker-in-anim {
    0%, 66.9%  { color: transparent; opacity: 0;	}
    67%, 69.9% { color: transparent; opacity: 1;	}
    70%, 70.9% { color: white; opacity: 1; }
    71%, 80.9% { color: transparent; opacity: 1; }
    81%, 84.9% { color: transparent; opacity: 1; }
    85%, 87.9% { color: transparent; opacity: 1; }
    88%, 88.9% { color: white; opacity: 1; }
    89%, 94.9% { color: transparent; opacity: 1; }
    95%, 100% { color: white; opacity: 1; } 
}

/* Creates an animation with 20 steaps. For each step, it calculates 
 a percentage for the specific step. It then generates a random clip
 box to be used for the random glitch effect. Also adds a very subtle
 skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(12px, 9999px, 29px, 0);
    transform: skew(0.7deg);
  }
  5% {
    clip: rect(44px, 9999px, 80px, 0);
    transform: skew(0.73deg);
  }
  10% {
    clip: rect(29px, 9999px, 82px, 0);
    transform: skew(0.65deg);
  }
  15% {
    clip: rect(23px, 9999px, 63px, 0);
    transform: skew(0.77deg);
  }
  20% {
    clip: rect(64px, 9999px, 49px, 0);
    transform: skew(0.93deg);
  }
  25% {
    clip: rect(39px, 9999px, 2px, 0);
    transform: skew(0.59deg);
  }
  30% {
    clip: rect(52px, 9999px, 72px, 0);
    transform: skew(0.4deg);
  }
  35% {
    clip: rect(7px, 9999px, 21px, 0);
    transform: skew(0.87deg);
  }
  40% {
    clip: rect(75px, 9999px, 9px, 0);
    transform: skew(0.37deg);
  }
  45% {
    clip: rect(60px, 9999px, 15px, 0);
    transform: skew(0.52deg);
  }
  50% {
    clip: rect(28px, 9999px, 98px, 0);
    transform: skew(0.18deg);
  }
  55% {
    clip: rect(84px, 9999px, 23px, 0);
    transform: skew(0.19deg);
  }
  60% {
    clip: rect(93px, 9999px, 90px, 0);
    transform: skew(0.82deg);
  }
  65% {
    clip: rect(53px, 9999px, 64px, 0);
    transform: skew(0.2deg);
  }
  70% {
    clip: rect(57px, 9999px, 52px, 0);
    transform: skew(0.25deg);
  }
  75% {
    clip: rect(85px, 9999px, 89px, 0);
    transform: skew(0.23deg);
  }
  80% {
    clip: rect(43px, 9999px, 91px, 0);
    transform: skew(0.07deg);
  }
  85% {
    clip: rect(70px, 9999px, 61px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(43px, 9999px, 6px, 0);
    transform: skew(0.93deg);
  }
  95% {
    clip: rect(59px, 9999px, 21px, 0);
    transform: skew(0.67deg);
  }
  100% {
    clip: rect(31px, 9999px, 4px, 0);
    transform: skew(0.98deg);
  }
}
@keyframes glitch-anim1 {
  0%, 59.9% {
    clip: rect(3px, 9999px, 2px, 0);
    transform: skew(0.7deg);  
  }
  60% {
    clip: rect(12px, 9999px, 29px, 0);
    transform: skew(0.7deg);
  }
  61% {
    clip: rect(44px, 9999px, 80px, 0);
    transform: skew(0.73deg);
  }
  62% {
    clip: rect(29px, 9999px, 82px, 0);
    transform: skew(0.65deg);
  }
  63% {
    clip: rect(23px, 9999px, 63px, 0);
    transform: skew(0.77deg);
  }
  64% {
    clip: rect(64px, 9999px, 49px, 0);
    transform: skew(0.93deg);
  }
  65% {
    clip: rect(39px, 9999px, 2px, 0);
    transform: skew(0.59deg);
  }
  66% {
    clip: rect(52px, 9999px, 72px, 0);
    transform: skew(0.4deg);
  }
  67% {
    clip: rect(7px, 9999px, 21px, 0);
    transform: skew(0.87deg);
  }
  68% {
    clip: rect(75px, 9999px, 9px, 0);
    transform: skew(0.37deg);
  }
  69% {
    clip: rect(60px, 9999px, 15px, 0);
    transform: skew(0.52deg);
  }
  70% {
    clip: rect(28px, 9999px, 98px, 0);
    transform: skew(0.18deg);
  }
  71% {
    clip: rect(84px, 9999px, 23px, 0);
    transform: skew(0.19deg);
  }
  72% {
    clip: rect(93px, 9999px, 90px, 0);
    transform: skew(0.82deg);
  }
  73% {
    clip: rect(53px, 9999px, 64px, 0);
    transform: skew(0.2deg);
  }
  74% {
    clip: rect(57px, 9999px, 52px, 0);
    transform: skew(0.25deg);
  }
  75% {
    clip: rect(85px, 9999px, 89px, 0);
    transform: skew(0.23deg);
  }
  76% {
    clip: rect(43px, 9999px, 91px, 0);
    transform: skew(0.07deg);
  }
  77% {
    clip: rect(70px, 9999px, 61px, 0);
    transform: skew(0.7deg);
  }
  78% {
    clip: rect(43px, 9999px, 6px, 0);
    transform: skew(0.93deg);
  }
  79% {
    clip: rect(59px, 9999px, 21px, 0);
    transform: skew(0.67deg);
  }
  79.9% {
    clip: rect(31px, 9999px, 24px, 0);
    transform: skew(0.98deg);
  }  
  80%, 100% {
    clip: rect(31px, 9999px, 4px, 0);
    transform: skew(0.98deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(20px, 9999px, 31px, 0);
    transform: skew(0.36deg);
  }
  5% {
    clip: rect(10px, 9999px, 8px, 0);
    transform: skew(0.35deg);
  }
  10% {
    clip: rect(75px, 9999px, 2px, 0);
    transform: skew(0.75deg);
  }
  15% {
    clip: rect(86px, 9999px, 31px, 0);
    transform: skew(0.37deg);
  }
  20% {
    clip: rect(78px, 9999px, 77px, 0);
    transform: skew(0.51deg);
  }
  25% {
    clip: rect(60px, 9999px, 22px, 0);
    transform: skew(0.46deg);
  }
  30% {
    clip: rect(38px, 9999px, 31px, 0);
    transform: skew(0.95deg);
  }
  35% {
    clip: rect(30px, 9999px, 23px, 0);
    transform: skew(0.58deg);
  }
  40% {
    clip: rect(90px, 9999px, 22px, 0);
    transform: skew(0.98deg);
  }
  45% {
    clip: rect(14px, 9999px, 59px, 0);
    transform: skew(0.21deg);
  }
  50% {
    clip: rect(30px, 9999px, 86px, 0);
    transform: skew(0.62deg);
  }
  55% {
    clip: rect(23px, 9999px, 15px, 0);
    transform: skew(0.6deg);
  }
  60% {
    clip: rect(19px, 9999px, 75px, 0);
    transform: skew(0.87deg);
  }
  65% {
    clip: rect(52px, 9999px, 52px, 0);
    transform: skew(0.65deg);
  }
  70% {
    clip: rect(27px, 9999px, 98px, 0);
    transform: skew(0.83deg);
  }
  75% {
    clip: rect(92px, 9999px, 99px, 0);
    transform: skew(0.47deg);
  }
  80% {
    clip: rect(2px, 9999px, 73px, 0);
    transform: skew(0.06deg);
  }
  85% {
    clip: rect(9px, 9999px, 33px, 0);
    transform: skew(0.63deg);
  }
  90% {
    clip: rect(16px, 9999px, 62px, 0);
    transform: skew(0.69deg);
  }
  95% {
    clip: rect(97px, 9999px, 23px, 0);
    transform: skew(0.93deg);
  }
  100% {
    clip: rect(16px, 9999px, 83px, 0);
    transform: skew(0.53deg);
  }
}
@keyframes glitch-anim3 {
  0%, 59.9% { 
    clip: rect(36px, 9999px, 31px, 0);
    transform: skew(0.36deg);
  }
  60% {
    clip: rect(20px, 9999px, 31px, 0);
    transform: skew(0.36deg);
  }
  61% {
    clip: rect(10px, 9999px, 8px, 0);
    transform: skew(0.35deg);
  }
  62% {
    clip: rect(75px, 9999px, 2px, 0);
    transform: skew(0.75deg);
  }
  63% {
    clip: rect(86px, 9999px, 31px, 0);
    transform: skew(0.37deg);
  }
  64% {
    clip: rect(78px, 9999px, 77px, 0);
    transform: skew(0.51deg);
  }
  65% {
    clip: rect(60px, 9999px, 22px, 0);
    transform: skew(0.46deg);
  }
  66% {
    clip: rect(38px, 9999px, 31px, 0);
    transform: skew(0.95deg);
  }
  67% {
    clip: rect(30px, 9999px, 23px, 0);
    transform: skew(0.58deg);
  }
  68% {
    clip: rect(90px, 9999px, 22px, 0);
    transform: skew(0.98deg);
  }
  69% {
    clip: rect(14px, 9999px, 59px, 0);
    transform: skew(0.21deg);
  }
  70% {
    clip: rect(30px, 9999px, 86px, 0);
    transform: skew(0.62deg);
  }
  71% {
    clip: rect(23px, 9999px, 15px, 0);
    transform: skew(0.6deg);
  }
  72% {
    clip: rect(19px, 9999px, 75px, 0);
    transform: skew(0.87deg);
  }
  73% {
    clip: rect(52px, 9999px, 52px, 0);
    transform: skew(0.65deg);
  }
  74% {
    clip: rect(27px, 9999px, 98px, 0);
    transform: skew(0.83deg);
  }
  75% {
    clip: rect(92px, 9999px, 99px, 0);
    transform: skew(0.47deg);
  }
  76% {
    clip: rect(2px, 9999px, 73px, 0);
    transform: skew(0.06deg);
  }
  77% {
    clip: rect(9px, 9999px, 33px, 0);
    transform: skew(0.63deg);
  }
  78% {
    clip: rect(16px, 9999px, 62px, 0);
    transform: skew(0.69deg);
  }
  79% {
    clip: rect(97px, 9999px, 23px, 0);
    transform: skew(0.93deg);
  }
  79.9% {
    clip: rect(16px, 9999px, 83px, 0);
    transform: skew(0.53deg);
  }  
  80%, 100% {
    clip: rect(116px, 9999px, 83px, 0);
    transform: skew(0.53deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(-4deg);
  }
  30% {
    transform: skew(3deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(-1deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(-2deg);
  }
}