.thumbContainer {
    display: block;
    float: right;
    clear: both;
    width: 30%;
    padding-top: 30%;
    height: auto;
    margin: 2% 5% 2% 55%;
    position: relative;
    border: 1px solid #000000b8;;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    transform: scale(1);
  }

  .infoBlock {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    top:50%;
    left:50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color:#000000b8;
    transition: background-color 1.5s ease;
    border: 1px solid white;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -webkit-transition: all 1.2s ease-out;
       -moz-transition: all 1.2s ease-out;
        -ms-transition: all 1.2s ease-out;
         -o-transition: all 1.2s ease-out;
            transition: all 1.2s ease-out;
  }

  .infoBlock .thumbTitle {
    flex: 1 1 0;
    text-align: center;
    vertical-align: middle;
    font-size: .9em;
    padding: 10px;
    font-family: "Above", Verdana, Tahoma;
    color: white;
    line-height: 1.4em;
    opacity: 1;
  }
  
  .circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }
  .playBut {
    /*  border: 1px solid red;*/
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(50%);
      -webkit-transition: all 0.5s ease;
      
      .triangle {
        -webkit-transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: none;
        fill: none;
        transform: translateY(0) 
       }
  }

  .thumbContainer.preview {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
    
            transform: scale(1.1);
  
      .infoBlock .thumbTitle {
        opacity: 0;
        -webkit-transition: opacity 0.8s ease-out;
           -moz-transition: opacity 0.8s ease-out;
            -ms-transition: opacity 0.8s ease-out;
             -o-transition: opacity 0.8s ease-out;
                transition: opacity 0.8s ease-out;
      }
      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: white;
        animation: nudge 0.7s ease-in-out;
      
        @keyframes nudge{
          0% {
            transform: translateX(0)  
          }
          30% {
            transform: translateX(-5px)
          }
          50% {
            transform: translateX(5px)
          }
          70% {
            transform: translateX(-2px)
          }
          100% {
            transform: translateX(0)
          }
        }
      }
    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
    
  .thumbContainer.play {
    -webkit-transition: all 1.4s ease-out;
       -moz-transition: all 1.4s ease-out;
        -ms-transition: all 1.4s ease-out;
         -o-transition: all 1.4s ease-out;
            transition: all 1.4s ease-out;
  }

  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 700px) {
  .thumbContainer {
    clear: none;
    display: inline-block;

    width: 30vh;
    height: 30vh;
    padding: 0;
    margin: 2vh 1vh;
  }
  .infoBlock .thumbTitle {
    font-size: .8em;
    line-height: 1em;
  }
}