.thumbContainer {
    flex: 1 1 auto;
    width: 90%;
    padding-top: 90%;
    height: auto;
    margin: 5%;
    border: 1px solid #000000b8;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    transform: scale(1);
    cursor: pointer;
    background-size: contain;
     
  }

.thumbContainer .backgroundHighlight {
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .2;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
   -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
       transition: all 0.2s ease-out;
}
  .infoBlock {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    top:50%;
    left:50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color:#000000b8;
    transition: background-color 1.5s ease;
    border: 1px solid white;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.45);
    -webkit-transition: all 1.2s ease-out;
       -moz-transition: all 1.2s ease-out;
        -ms-transition: all 1.2s ease-out;
         -o-transition: all 1.2s ease-out;
            transition: all 1.2s ease-out;
  }

  .infoBlock .thumbTitle {
    flex: 1 1 0;
    text-align: center;
    vertical-align: middle;
    font-size: .9em;
    padding: 10px;
    font-family: "Above", Verdana, Tahoma;
    color: white;
    line-height: 1.4em;
    opacity: 1;
  }
  
  .circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }
  .playBut {
    /*  border: 1px solid red;*/
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(50%);
      -webkit-transition: all 0.5s ease;
      
      .triangle {
        -webkit-transition: all 0.7s ease-in-out;
        stroke-dasharray: 650;
        stroke-dashoffset: 650;
        stroke: none;
        fill: white;
        fill-opacity: 0;
        transform: translateY(0) 
       }
  }
.thumbContainer.preview:hover {
}

.thumbContainer.preview .playBut:hover {
  .triangle{ 
    fill-opacity: 1;
  }
}
  .thumbContainer.preview {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
    
            transform: scale(1.1);
  
     .backgroundHighlight {
        opacity: 0;
      }

      .infoBlock .thumbTitle {
        opacity: 0;
        -webkit-transition: opacity 0.8s ease-out;
           -moz-transition: opacity 0.8s ease-out;
            -ms-transition: opacity 0.8s ease-out;
             -o-transition: opacity 0.8s ease-out;
                transition: opacity 0.8s ease-out;
      }
      .triangle {

        stroke-dashoffset: 0;
        fill-opacity: 0;
        opacity: 1;
        stroke: white;
        animation: nudge 1s ease-in;
      
        @keyframes nudge{
          0% {
            stroke-dashoffset: 650;
            transform: translateX(0);
            fill-opacity:0;
          }
          30% {
            transform: translateX(-5px)
          }
          50% {
            transform: translateX(5px);
            fill-opacity:0;
          }
          80% {
            transform: translateX(-2px);
          }
          100% {
            transform: translateX(0);
            stroke-dashoffset: 0;
            fill-opacity:1;
          }
        }
      }
    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
    
  .thumbContainer.play {
/*    -webkit-transition: all 1.4s ease-out;
       -moz-transition: all 1.4s ease-out;
        -ms-transition: all 1.4s ease-out;
         -o-transition: all 1.4s ease-out;
            transition: all 1.4s ease-out;*/
  }



@media only screen and (max-width: 700px) {
  .thumbContainer {
    height: 25vw;
    padding-right: 25vw;
    padding-top: 0;
    margin: 2vh 1vh;
  }
}

@media only screen {
  .thumbContainer.mobile {
    height: 40vw;
    padding-right: 40vw;
    padding-top: 0;
    margin: 2vh 1vh;
  }
  .thumbContainer .playBut {
  .triangle {
    stroke-dashoffset: 0;
    fill-opacity: 0;
    opacity: 1;
    stroke: white;
    animation: nudge 1s ease-in;
  }
}
  .infoBlock .thumbTitle {
    display: none;
  }
}


@media only screen and (orientation: landscape) {
  .thumbContainer.mobile {
    width: 33vh !important;
    padding-top: 33vh !important;
    height: unset;
    padding-right: 0;
    margin: 1vh 2vh;
  }
}
@media only screen and (max-height: 731px) and (orientation: portrait) {
  .thumbContainer.mobile {
    height: 35vw;
    padding-right: 35vw;
  }
}

@media only screen and (max-height: 640px) and (orientation: portrait) {
  .thumbContainer.mobile {
    height: 30vw;
    padding-right: 30vw;
  }
}


  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .thumbContainer.mobile {
    height: unset;
    width: 30vw;
    padding-top: 30vw;
    padding-right: 0;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .thumbContainer {
  
  } 
}
@media only screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
  .thumbContainer {

  } 
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/