.container {
  width: 100vw;
  height: 100vh;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}
.galleryContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  top: 50px;
}
.TVContainer {
  height: 100%;
  width: 50%;
  margin: 0 5%;
  display: table;
  .TV  {
    display: table-cell;
    vertical-align: middle;
  }
  .previewVideoContainer {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    display: block;
    position: relative;
    display: table-cell;
  }
  .static, .previewVideo {
    position: absolute;
    width: 90%;
    height: 54%;
    top: 20%;
    left: 0;
    margin: 5%;
  }
  .description {
    font-size: .7em;
    letter-spacing: .18em;
    height: 150px;
  }
  .videoContainer { 
    background: rgba(0,0,0,0);
  }
}
.fullScreenOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0,0,0,1);
  -webkit-transition: background 1s ease-in;
     -moz-transition: background 1s ease-in;
      -ms-transition: background 1s ease-in;
       -o-transition: background 1s ease-in;

  z-index: 100;
}
.fullScreen {
  -webkit-transition: all 1s ease-in;
     -moz-transition: all 1s ease-in;
      -ms-transition: all 1s ease-in;
       -o-transition: all 1s ease-in;
          transition: all 1s ease-in;
        position: absolute;
        height: 94%;
        width: 94%;
        top: 0;
        left: 0;
        margin: 3%;
}
.hidden {
  display:none;
}
@media (min-width: 320px) and (max-width: 700px) {
  .galleryContainer {
    height:100vh;
    width: 100vw;
    top: 0vh;
  }
  .scrollContainer {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .TVContainer {
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
    .previewVideoContainer {
      height: 90vw;
      width: 90vw;
      margin-top: 2vh;
      display: block;
    }
    .description {
      width: 90vw;
      height: 15vh;
      margin: 0 auto;
    }
  }
}